In [1]:
import pandas as pd

In [18]:
df = pd.read_excel('template.xlsx')
df = df.drop(['Unnamed: 0','學生證', '身份證', '在學證明'], axis=1)
df = df.fillna('')
df

       校名   姓名                     email        tel   背號
0  國立成功大學  王淑婷  morrischen2.10@gmail.com  965425240  100
1  國立成功大學  陳鎮濃  morrischen2.11@gmail.com  965425241  101

In [19]:
df.shape[0]

2

In [20]:
for i in range(df.shape[0]):
    for data in df:
        print(df.loc[i, data])

國立成功大學
王淑婷
morrischen2.10@gmail.com
965425240
100
國立成功大學
陳鎮濃
morrischen2.11@gmail.com
965425241
101